.navbar {
  background-color: #333;
  overflow: hidden;
  height: 80px;

}
html{
  scroll-behavior: smooth;
}
#ReglamentsText{
  align-self: center;
}
#AboutText{
height: 10px;
weight: 10px
}
#InicioText{

}
#HeaderLogo {
  weight: 50px;
  height: 70px;
}
  #AboutUsSection {
    background-color: #26374B;
    height: 700px;
    color: white;
  }

.logo {
	overflow: hidden;
	float: left;

}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #26374B;
}
img{
  align: left
}
.header1{ text-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%

}
.slider-frame{
 align-items: auto;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

*{
  margin: 0;
  padding: 0;
  font-family: lato;
  
}

h2{
  text-align: center;
  font-size: 2rem;
  padding-top: 50px;
  color: firebrick;
}
#AboutUsText {
  color: white;
}

.slider-frame{
  width: 200px;
  height: 200px;
  margin: 50px auto 0;
  overflow: hidden;
  height:600px;
}

.slider-frame ul{
  display: flex;
  padding: 0;
  width:200px;
  height: 200px;

  animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li{
  width: 200px;
  height:200px;
  list-style: none;
}

.slider-frame img{
  width: 200px;
  height: 200px;
}

@keyframes slide{
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

p{
  justify-content: space-evenly;
}

li:hover {
  background-color: lightblue;
  opacity: 2.7;
  animation-name: zoom;
  animation-duration: 1.6s;
  transition: 1.0s;

}

img:hover {filter: sepia(75%);}

body{
  background-color: #fff; 
  height: 600px;
  }
